@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap');

$font-family: 'Space Mono', monospace;
$font-size: 24px;

// Colors
$strong-cyan: hsl(172, 67%, 45%);
$red: rgb(204, 120, 96);
$green: rgb(13, 104, 109);

$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$medium-grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
